<div class="content">
  <div class="row">
    <div class="col-4">
      <div class="form-group row">
        <label class="col-form-label col-md-3 col-sm-3 label-align">Yatay Hücre Sayısı</label>
        <div class="col-md-6 col-sm-6">
          <input class="form-control" type="number" min="0" [(ngModel)]="station.ColumnLen">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-3 col-sm-3 label-align">Dikey Hücre Sayısı</label>
        <div class="col-md-6 col-sm-6">
          <input class="form-control" type="number" min="0" [(ngModel)]="station.RowLen">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-3 col-sm-3 label-align">Node Adı</label>
        <div class="col-md-6 col-sm-6">
          <select
            class="form-control" [(ngModel)]="selectedNodeIndex">
            <option *ngFor="let item of station?.StationNodes; let i=index" [value]="i">{{item.NodeId}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="selectedNodeIndex>-1">
        <label class="col-form-label col-md-3 col-sm-3 label-align">Yatay Pozisyon</label>
        <div class="col-md-6 col-sm-6">
          <input class="form-control" type="number" [(ngModel)]="station.StationNodes[selectedNodeIndex].ColPosition" min="-1" [max]="station.ColumnLen">
        </div>
      </div>
      <div class="form-group row" *ngIf="selectedNodeIndex>-1">
        <label class="col-form-label col-md-3 col-sm-3 label-align">Dikey Pozisyon</label>
        <div class="col-md-6 col-sm-6">
          <input class="form-control" type="number" [(ngModel)]="station.StationNodes[selectedNodeIndex].RowPosition" min="-1" [max]="station.RowLen">
        </div>
      </div>
      <button class="btn btn-secondary" (click)="goBack()">Geri Dön</button>
      <button class="btn btn-primary" (click)="update()">Güncelle</button>
    </div>
    <div class="col-8" style="overflow: auto; padding-top: 60px;">
      <app-station-design-viewer [station]="station"></app-station-design-viewer>
    </div>
  </div>
</div>
