<div class="nav-md">

  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a routerLink="/" class="site_title"><span>AGV Yönetim Paneli</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_info">
              <span>Hoşgeldiniz,</span>
              <h2>{{fullName}}</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
                <li><a routerLink="/"><i class="fa fa-home"></i> Anasayfa</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='Admin'||loginType=='User'"><a routerLink="/transactions"><i class="fa fa-tasks"></i> Talepler</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='Admin'"><a routerLink="/operation-claims"><i class="fa fa-snowflake-o"></i>İşlem Yetkileri</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='Admin'"><a routerLink="/authorities"><i class="fa fa-asterisk"></i> Yetkiler</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='Admin'"><a routerLink="/users"><i class="fa fa-users"></i> Kişiler</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='Admin'"><a routerLink="/stations"><i class="fa fa-superpowers"></i> İstasyonlar</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='Admin'"><a routerLink="/vehicles"><i class="fa fa-linode"></i> Araçlar</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='User'"><a routerLink="/pending-transactions"><i class="fa fa-clock-o"></i> Bekleyen Talepler</a></li>
                <li routerLinkActive="active" *ngIf="loginType=='User'"><a routerLink="/add-transaction"><i class="fa fa-plus"></i> Talep Oluştur</a></li>
                <!-- <li routerLinkActive="active" *ngIf="loginType=='User'"><a routerLink="/retrun-task"><i class="fa fa-refresh"></i> İade Oluştur</a></li> -->
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <div class="nav toggle">
            <a id="menu_toggle" (click)="toggleNav()"><i class="fa fa-bars"></i></a>
          </div>
          <nav class="nav navbar-nav">
            <ul class=" navbar-right">
              <li class="nav-item" style="padding-left: 15px;">
                <a class="user-profile" (click)="onLogout()">
                  <i class="fa fa-power-off" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item " style="padding-left: 15px;">
                <a class="user-profile">
                  {{fullName}}
                </a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <!-- top tiles -->
        <router-outlet></router-outlet>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Technolife - All rights reserved.
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
</div>
